/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

application.conf
*.application.conf
reference.secure.conf

# Eclipse
.classpath
.project

*.class
*.log

# sbt specific
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
org.scala-ide.sdt.core.prefs
.settings
.target
/bin

# Ensime
.ensime
.ensime_cache

#intellij
.idea/
.idea_modules/
/projectFilesBackup/
